h2 {
    color: rgb(2, 2, 104);
    text-decoration: overline;
}

body {
   background-image: url(b6.jpg);
}
input[type="text"] {
    border: 2px solid green;
}   
input [type="email"] {
    border: 2px solid navy;
}
ul > li {
    text-decoration: underline;
    color: rgb(3, 3, 95);
}
ol > li {
    color: maroon
}
.main > p {
    color: blue;
}
.main > h2 {
    color: red;
}