h2 {
    color: rgb(2, 2, 104);
    text-decoration: overline;
}

body {
   background-image: url(b6.jpg);
}
input[type="text"] {
    border: 2px solid green;
}   
input [type="text"] {
    border: 2px solid green;
}
ul > li {
    text-decoration: underline;
    color: rgb(3, 3, 95);
}
ol > li {
    color: maroon
}
h3 + p {
    color: green;
    font-weight: bold;
    text-decoration: underline;
}